body {
    font-size: $font-size-default;
    @include body-text-primary;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: transparent;
    overflow-x: hidden;
}

section{
    position: relative;
    width: 100%;
    min-height: 100vh;
    @include flex(column, space-between, flex-start);
    text-align: left;
    background: $primary-brand-color-blue;
    color: #fff;
    transition: .5s;
}