/* Color Palette */
$primary-brand-color-blue: hsl(209, 100%, 37%);
$primary-brand-color-blue-dark: hsl(206, 86%, 29%);
$secondary-brand-color-red: hsl(351, 90%, 47%);
$secondary-brand-color-charcoal: hsl(0, 0%, 12%);
$primary-brand-silver: hsl(210, 1%, 70%);

$primary-text-color-light:hsl(0, 0%, 93%);
$secondary-text-color-dark: hsl(0, 0%, 7%);


/* Font Variables */
$global-font: 'Sofia Sans', sans-serif;
$font-size-default: 1.6rem;
